<div class="col-sm-2 p-sm-0 order-2 order-sm-1 mt-2 mt-sm-0 px-xl-2">
    <div class="swiper product-slider-thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide h-auto swiper-thumb-item mb-3">
                <img class="w-100" src="{{ product_detail.img_link }}" alt="...">
            </div>
            <div class="swiper-slide h-auto swiper-thumb-item mb-3">
                <img class="w-100" src="{{ product_detail.img_link }}" alt="...">
            </div>
            <div class="swiper-slide h-auto swiper-thumb-item mb-3">
                <img class="w-100" src="{{ product_detail.img_link }}" alt="...">
            </div>
            <div class="swiper-slide h-auto swiper-thumb-item mb-3">
                <img class="w-100" src="{{ product_detail.img_link }}" alt="...">
            </div>
        </div>
    </div>
</div>
<div class="col-sm-10 order-1 order-sm-2">
    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide h-auto">
                <a class="glightbox product-view" href="{{ product_detail.img_link }}" data-gallery="gallery2"
                   data-glightbox="{{ product_detail.title }}">
                    <img class="img-fluid" src="{{ product_detail.img_link }}" alt="{{ product_detail.title }}">
                </a>
            </div>
            <div class="swiper-slide h-auto">
                <a class="glightbox product-view" href="{{ product_detail.img_link }}" data-gallery="gallery2"
                   data-glightbox="{{ product_detail.title }}">
                    <img class="img-fluid" src="{{ product_detail.img_link }}" alt="{{ product_detail.title }}">
                </a>
            </div>
            <div class="swiper-slide h-auto">
                <a class="glightbox product-view" href="{{ product_detail.img_link }}" data-gallery="gallery2"
                   data-glightbox="{{ product_detail.title }}">
                    <img class="img-fluid" src="{{ product_detail.img_link }}" alt="{{ product_detail.title }}">
                </a>
            </div>
            <div class="swiper-slide h-auto">
                <a class="glightbox product-view" href="{{ product_detail.img_link }}" data-gallery="gallery2"
                   data-glightbox="{{ product_detail.title }}">
                    <img class="img-fluid" src="{{ product_detail.img_link }}" alt="{{ product_detail.title }}">
                </a>
            </div>
        </div>
    </div>
</div>